parameters:
    level: 6
    treatPhpDocTypesAsCertain: false
    paths:
        - src
        - tests
    ignoreErrors:
        -
            message: '#Call to an undefined method COM::ExecQuery\(\)\.#'
            path: src/Dashboards/Server/ServerResources.php
            identifier: method.notFound
