<phpunit bootstrap="vendor/autoload.php" colors="true" displayDetailsOnPhpunitDeprecations="true" displayDetailsOnSkippedTests="true" displayDetailsOnTestsThatTriggerWarnings="true">
    <testsuites>
        <testsuite name="phpCacheAdmin">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
