{% macro form() %}
    <form method="post" enctype="multipart/form-data" id="import_form">
        <div class="mb-4">
            <label for="import" class="block mb-2 text-sm font-semibold dark:text-gray-300">JSON file</label>
            <input id="import" name="import" type="file" accept="application/json"
                   class="w-full text-sm bg-white rounded border border-gray-300 hover:file:bg-slate-600 focus:outline-hidden focus:ring-3 focus:ring-primary-200 focus:border-primary-300
                   file:rounded-l file:py-1.5 file:px-2 file:mr-3 file:text-sm file:font-semibold file:text-white file:bg-slate-500
                   dark:text-white dark:bg-gray-800 dark:border-gray-600 dark:focus:ring-primary-500 dark:focus:border-primary-400 dark:file:bg-slate-900 dark:hover:file:bg-slate-800">
        </div>

        <div class="text-right">
            {{ include('components/button.twig', {
                text: 'Import',
                icon: 'import',
                id: 'submit_import_key',
                color: 'green',
                submit: true,
            }) }}
        </div>
    </form>
{% endmacro %}

{{ include('components/modal.twig', {
    modal_id: 'importkeys',
    title: 'Import keys',
    content: _self.form(),
    open_btn: {
        text: 'Import',
        icon: 'import',
        color: 'green',
    },
}) }}
