<form method="post" enctype="multipart/form-data" id="import_form" class="hidden">
    <div class="mb-3 rounded bg-white p-3 shadow-sm shadow-gray-300">
        <div class="md:grid md:grid-cols-2 md:gap-2">
            {{ include('components/input.twig', {
                id: 'key_name',
                label: 'Key name',
            }) }}

            {{ include('components/input.twig', {
                id: 'expire',
                label: 'Expire (in seconds)',
                type: 'number',
                help: expire_default ~ ' removes expiration (default).',
                value: expire_default,
                attr: ' min="' ~ expire_default ~ '" max="' ~ expire_max ~ '"',
            }) }}
        </div>

        <div class="mb-3">
            <label for="import" class="mb-2 block text-sm font-semibold">Key</label>
            <input id="import" name="import" type="file"
                   class="w-full text-base file:border file:border-transparent file:rounded file:py-1.5 file:px-2 file:mr-3 file:text-base file:font-semibold file:text-white file:bg-slate-500 file:hover:bg-slate-600">
            <small class="text-xs">{{ key_desc }}</small>
        </div>

        {{ include('components/button.twig', {
            text: 'Import',
            icon: 'import',
            id: 'submit_import_key',
            btn_green: true,
            submit: true,
        }) }}
    </div>
</form>
