<div>
    {% if import_btn %}
        {{ include('components/button.twig', {
            text: 'Import',
            icon: 'import',
            id: 'import_btn',
            btn_green: true,
            class: 'mr-1',
        }) }}
    {% endif %}

    {% if add_new_btn %}
        {{ include('components/button.twig', {
            text: 'Add new',
            icon: 'plus',
            link: new_key_url,
            btn_green: true,
        }) }}
    {% endif %}

    {% if all_keys != 0 %}
        {{ include('components/button.twig', {
            text: 'Delete all',
            icon: 'trash',
            id: 'delete_all',
            btn_red: true,
            class: 'mr-1 ml-1',
        }) }}

        {% if delete_selected_btn is not defined or delete_selected_btn == true %}
            {{ include('components/button.twig', {
                text: 'Delete selected',
                icon: 'trash',
                id: 'delete_selected',
                btn_red: true,
            }) }}
        {% endif %}
    {% endif %}
</div>
