<div class="md:grid md:grid-cols-3 md:gap-4">
    {% for command in commands %}
        {{ include('partials/panel.twig', {
            panel_title: command.title,
            array: command.data,
        }) }}
    {% endfor %}
</div>
