<div class="sm:grid sm:grid-cols-2 lg:grid-cols-4 sm:gap-4">
    {% for command in commands %}
        {{ include('partials/panel.twig', {
            panel_title: command.title,
            array: command.data,
        }) }}
    {% endfor %}
</div>
