<div class="sm:grid sm:grid-cols-2 lg:grid-cols-4 sm:gap-4">
    {% for item, data in items %}
        {{ include('partials/panel.twig', {
            panel_title: 'Item ' ~ item,
            array: data,
        }) }}
    {% else %}
        No items.
    {% endfor %}
</div>
