<div class="flex md:justify-end gap-1 mb-5">
    {{ include('partials/keys_buttons.twig') }}
</div>

{{ include('partials/import_form.twig', {
    expire_default: '0',
    expire_max: 2592000,
    key_desc: 'The text value in the .txt file.',
}) }}

{{ include('partials/keys_table.twig') }}
