<div class="flex gap-4 items-center mb-4">
    <div class="font-semibold text-gray-600 dark:text-gray-300">Total memory allocated to slab pages</div>
    <div class="text-sm font-semibold text-gray-900 dark:text-white">{{ meta.total_malloced|bytes }}</div>
</div>

<div class="sm:grid sm:grid-cols-2 lg:grid-cols-4 sm:gap-4">
    {% for slab, data in slabs %}
        {{ include('partials/panel.twig', {
            panel_title: 'Slab ' ~ slab,
            array: data,
        }) }}
    {% endfor %}
</div>
