<div class="mb-5 lg:flex lg:justify-end">
    {{ include('partials/keys_buttons.twig', {
        import_btn: true,
        add_new_btn: true,
    }) }}
</div>

{{ include('partials/import_form.twig', {
    expire_default: '0',
    expire_max: 2592000,
    key_desc: 'The text value in the .txt file.',
}) }}

{{ include('partials/keys_table.twig', {
    head_items: [
        {'title': 'Key'},
        {'title': 'Hits'},
        {'title': 'Last used'},
        {'title': 'Created'},
        {'title': 'TTL', 'class': 'w-32'},
    ],
}) }}
