<div class="mb-5 lg:flex lg:justify-end">
    <div>
        {{ include('components/button.twig', {
            text: (is_ignored ? 'Show' : 'Ignore') ~ ' scripts from this tool',
            link: ignore_url,
            class: 'mr-1',
        }) }}
    </div>
    {{ include('partials/keys_buttons.twig', {all_keys: all_files}) }}
</div>

{{ include('partials/keys_table.twig', {
    head_items: [
        {'title': 'Filename'},
        {'title': 'Hits'},
        {'title': 'Memory'},
        {'title': 'Last used'},
        {'title': 'Created'},
    ],
    keys: cached_scripts,
}) }}
