{{ panels|raw }}
<div class="mb-3 lg:flex lg:justify-end">
    <div>
        {{ include('components/button.twig', {
            text: (is_ignored ? 'Show' : 'Ignore') ~ ' scripts from this tool',
            link: ignore_url,
            class: 'mr-1',
        }) }}
    </div>
    {{ include('partials/keys_buttons.twig', {all_keys: all_files}) }}
</div>

{{ include('partials/keys_table.twig', {
    head_items: [
        {'title': 'Filename'},
        {'title': 'Hits', 'class': 'w-16'},
        {'title': 'Memory', 'class': 'w-24'},
        {'title': 'Last used', 'class': 'w-40'},
        {'title': 'Created', 'class': 'w-40 hidden md:table-cell'},
    ],
    classes: {
        5: 'hidden md:table-cell',
    },
    keys: cached_scripts,
}) }}
