@tailwind base;
@tailwind components;
@tailwind utilities;

.select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%231f2937' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
}

.checkbox:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: currentColor;
}

#phpinfo .center {
    text-align: center;
}

#phpinfo .center table {
    margin: 1em auto;
    text-align: left;
}

#phpinfo > .center table {
    margin-top: 0;
}

#phpinfo table {
    width: 100%;
    table-layout: auto;
}

#phpinfo td,
#phpinfo th {
    border: 1px solid #fff;
    font-size: 75%;
    vertical-align: baseline;
    padding: 4px 5px;
}

#phpinfo th {
    position: sticky;
    top: 0;
    background: inherit;
}

#phpinfo h1 {
    font-size: 150%;
}

#phpinfo h2 {
    font-size: 125%;
}

#phpinfo .p {
    text-align: left;
}

#phpinfo .e {
    background-color: #ccf;
    width: 300px;
    font-weight: bold;
}

#phpinfo .h {
    background-color: #99c;
    font-weight: bold;
}

#phpinfo .v {
    background-color: #ddd;
    max-width: 300px;
    overflow-x: auto;
    word-wrap: break-word;
}

#phpinfo .v i {
    color: #999;
}

#phpinfo img {
    float: right;
    border: 0;
}
