{% set color_map = {
    'success': 'bg-green-500',
    'error': 'bg-red-500',
} %}

<div class="py-3 px-4 flex items-center rounded-md {{ color_map[alert_color] ?? 'bg-indigo-500' }} shadow-lg fixed top-5 right-5 z-50 max-w-lg">
    <div class="mr-3 text-white break-all">{{ message|raw }}</div>
    <button type="button" class="close text-white hover:opacity-75" onclick="this.parentElement.remove();">
        {{ svg('close', 13) }}
    </button>
</div>
