<div class="flex" id="search_form">
    <input type="text" id="search_key" value="{{ search_value }}" placeholder="( / ) Search..." aria-label="( / ) Search..."
           class="w-full rounded-l border border-gray-300 bg-white py-1.5 px-3 text-base focus:outline-none focus:ring focus:ring-primary-200 focus:border-primary-300">
    {{ include('components/button.twig', {
        text: '',
        icon: 'search',
        id: 'submit_search',
        class: 'rounded-l-none',
    }) }}
</div>
